<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b.dao.TeacherDAO">

    <select id="login" resultType="com.b.entity.Teacher">
        select * from teacher
        where tid=#{id} and tpassword=#{password}
    </select>

    <resultMap id="TeacherMap" type="com.b.entity.Teacher">
        <id property="tid" column="tid"></id>
        <collection property="tcourses" column="tid" javaType="java.util.ArrayList" ofType="com.b.entity.Course" select="findCourse">
            <result property="cid" column="cid"/>
            <result property="cname" column="cname"/>
        </collection>
    </resultMap>

    <select id="find_info" resultMap="TeacherMap">
        select * from teacher where tid=#{tid}
    </select>

    <select id="findCourse" resultType="com.b.entity.Course">
        select * from cource
        right outer join tcource
        on tcource.cid=cource.cid
        where tcource.tid=#{tid}
    </select>

    <update id="update">
        update teacher set tphonenum=#{tphonenum},tpassword=#{tpassword}
        where tid=#{tid};
    </update>


    <!--返回类型是集合中的元素类型而不是集合-->
    <select id="find_cour" resultType="String">
        select cource.cname from cource
        right outer join tcource
        on tcource.cid=cource.cid
        where tcource.tid=#{tid}
    </select>

</mapper>