<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.b.dao.ExamDAO">

    <select id="show" resultType="int">
        select max(score) from exam
        where sid=#{sid} and cid=#{cid}
    </select>

    <insert id="submit">
        insert into exam values (#{sid},#{sname},#{cid},#{cname},#{scollege},#{testid},#{examDate},#{score},#{totalscore})
    </insert>

    <select id="find" resultType="com.b.entity.Exam">
        select * from exam
        where sid=#{sid} and cid=#{cid}
    </select>

    <select id="teacher_find" resultType="com.b.entity.Exam">
        SELECT sid,sname,cid,cname,scollege,testid,examDate,MAX(score),totalscore FROM exam
        GROUP BY sid,cid;
    </select>

</mapper>